<nav
  class="navbar navbar-light bg-light"
  style="padding: 15px; box-shadow: inset"
>
  <div class="block container-fluid d-flex">
    <a routerLink="" style="text-decoration: none">
      <h1 style="color: #1e4fce; font-size: 25px; font-weight: bold">
        merobooking<span style="color: #e2641d; font-weight: bold">.com</span>
      </h1>
    </a>
    <div class="d-flex">
      <button
        class="btn btn-light"
        style="font-weight: bold; border: 1px black solid; border-radius: 15px"
      >
        <a routerLink="/get-help" style="text-decoration: none; color: black">
          Get Help?</a
        >
      </button>
    </div>
  </div>
</nav>
